In [1]:
#Task 2: Hello World!
print('Hello world')

Hello world

In [3]:
#Task 3: Python Variables
#3.2 Variable Types
x = '2'
y = z = 2

print(y * z)    # 4
print(x * y)    # 4
print(x + x)    # 4
print((y+z)**z) # 16
print(y/(y+z))  # 1/2

print( type(x * y) )    # int
print( type(y * z) )    # int
print( type((y+z)**z) ) # int
print( type(y/(y+z)) )  # float

4
22
22
16
0.5
<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>

In [4]:
#3.3 Assignment
x = 12
y = 10

z = x + y # 22
x = x + y # 22
y = z + y # 32

print(x,y,z) # 22,32,22

22 32 22

In [6]:
#3.4 Operators & Precedence
x = 1 + (2 * 3) / 4
y = (1 + 2) * (3 / 4)
z = 1 + 2 * (3 / 4)

print(x) # x is  2.5
print(y) # y is  2.25
print(z) # z is  2.5

2.5
2.25
2.5

In [11]:
#3.5 Test Your Operator Knowledge
x = 10
y = 3

print( x % y ) # 1
print( x + y ) # 13
print( x == y ) # False
print( x ** y ) # 1000
print( x - y ) # 7
print( x // y ) # 3

1
13
False
1000
7
3

In [15]:
#3.6 Applying What We've Learned
#3.6.1. Calculate the Volume of a Sphere
import math
a = math.pi
R = 12
r = R / 2
v = ( ( 4 / 3 ) * a ) * ( r ** 3 )

print(a) #3.1415
print(R) #12
print(r) #6
print(v) #904

3.141592653589793
12
6.0
904.7786842338603

In [21]:
#3.6.2. Calculate the Radius of a Sphere
import math
from fractions import Fraction
a = math.pi
f =Fraction(1,3)

V=14137
r = (3/4*V/a)**f
print(a)
print(f)
print(r)

3.141592653589793
1/3
14.99994095641231

In [22]:
#Task 4: Python Conditions
#4.1 Working with Conditions
hours=0

if hours > 10:
    print(" At least 10 hours worked! ")
elif hours == 10:
    print(" Exactly 2 hours worked. ")
else:
    print(" Less than 10 hours worked! ")

 Less than 10 hours worked!

In [43]:
#4.2 Flow Control
a = 2
b = 2
x = a 

if x == b :
    print(""" 
          inside 1
          inside 2
          inside
          after condition
    """)

else :
    print("after condition")

          inside 1
          inside 2
          inside
          after condition

In [45]:
#4.2 Flow Control
a = 1
b = 2
x = a
if x == b :
    print(""" 
          inside 1
          inside 2
          inside
          after condition
    """)

else :
    print("after condition")

after condition

In [46]:
#Task 5: Python Logic
#5.1 It's All Quite Logical...
x=5

if x > 0 and x < 5:
    print("Joe")

if x > 0 or x < 5:
    print("Aled")

if not(x > 0):
    print("Sarah")

Aled

In [48]:
#5.1 It's All Quite Logical...
x=3

if x > 0 and x < 5:
    print("Joe")

if x > 0 or x < 5:
    print("Aled")

if not(x > 0):
    print("Sarah")

Joe
Aled

In [52]:
#5.2 Logic (Cont'd)
for x in range(0,9):
    print(x)
    if(x % 2 == 0):
        print("x is even")
    else:
        print("x is odd")
    print(x)

0
x is even
0
1
x is odd
1
2
x is even
2
3
x is odd
3
4
x is even
4
5
x is odd
5
6
x is even
6
7
x is odd
7
8
x is even
8

In [53]:
#5.3 'Nested' Conditionals
x = 5
y = 4

if x != y:                                 #line 1
    print("x is not equal to y")
    
    if(x > y):                             #line 4
        print("x is greater than y")
    
    else:                                  #line 7
        print("x is less than y")

else:
    print("x = y")

x is not equal to y
x is greater than y

In [54]:
#5.3 'Nested' Conditionals
x = 2
y = 3

if x != y:                                 #line 1
    print("x is not equal to y")
    
    if(x > y):                             #line 4
        print("x is greater than y")
    
    else:                                  #line 7
        print("x is less than y")

else:
    print("x = y")

x is not equal to y
x is less than y

In [60]:
#Task 6: Python Lists
#6.1 Who's in the List?
#https://blog.csdn.net/qq_58372242/article/details/121728747
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']

# Print out London from cities:
print( cities[1] )

# Print out Tokyo using *negative* indexing:
print( cities[-2] )

# Print out Beijing *and* Tokyo using a list slice
print( cities[2:4]  )

# Print out London to Delhi using a slice
print( cities[1:] ) # You could also do cities[1:5] but this way is neater

# Combine positive and negative indexing to print out London, Beijing and Tokyo using a list slice
print( cities[1:-1]  )

# Print out the position of New York in the list by searching for it (i.e. you can't just type 0)
print(cities.index("New York"))

London
Tokyo
['Beijing', 'Tokyo']
['London', 'Beijing', 'Tokyo', 'Delhi']
['London', 'Beijing', 'Tokyo']
0

In [61]:
#6.2 Manipulating Lists
#6.2.1 Create an IndexError
# Cause an 'IndexError: list index out of range' errr
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']

print( cities[8] )

IndexError: list index out of range

In [62]:
#6.2.2 Create a ValueError
# Cause a ValueError using the city of Toronto
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']
citie.remove('Shanghai')

NameError: name 'citie' is not defined

In [75]:
#6.2.3 Sort the List
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']
cities = sorted(cities, key=str.lower) # 按某字母排序
cities.sort(reverse=True)
print(cities)

['Tokyo', 'New York', 'London', 'Delhi', 'Beijing']

In [78]:
#6.3 Adding/Removing Values
#6.3.1 Inserting into a List
# Just in case you make a mistake...
cities = ['Tokyo', 'New York', 'London', 'Delhi', 'Beijing']
cities.insert(2,'Toronto')
print(cities)

['Tokyo', 'Toronto', 'New York', 'London', 'Delhi', 'Beijing']

In [80]:
#6.3.2 Removing from a List
cities = ['Tokyo', 'Toronto', 'New York', 'London', 'Delhi', 'Beijing']
cities.remove('New York')
print(cities)

['Tokyo', 'Toronto', 'London', 'Delhi', 'Beijing']

In [83]:
#6.3.3 Checking Lists
cities = ['Tokyo', 'Toronto', 'New York', 'London', 'Delhi', 'Beijing']
'Moscow' in cities

False